@import url('https://fonts.googleapis.com/css2?&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica-neue-9', sans-serif;
  scroll-behavior: smooth;
}

:root{
  -text: #00B2A9;
  --text: #F6EB61;
  --lighter: #b21534;
  ---background: #fff;/*rgba(16, 1, 24, 0.97);*/
}

body{
  width: 100%;
  background-color: #fff;/*var(---background);*/
  color: var(---background);
  overflow-x: hidden;
  position: relative;
}


/*.card-spotlight-effect {
  position: relative;
  max-width: 24rem;
  overflow: hidden;
  border-radius: 0.875rem;
  border: 1px solid #374151;
  background-image: linear-gradient(to right, #0f172a, #06171b);
  padding: 4rem 2rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.spotlight {
  pointer-events: none;
  position: absolute;
  inset: -1px;
  opacity: 0;
  transition: opacity 300ms;
}*/

.kontakt {
  color: #03002f;
  
  font-family: 'Montserrat';
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.0rem;
  
}

.tjenester{
  color: #03002f;
  font-size: 12px;
    line-height: 32px;
    letter-spacing: .6em;
    text-transform: uppercase;
}

.icon { color: #03002f}

.icons { color: #FF9912;}

.red {
  color:#03002f;
  font-family: 'Montserrat';
}
.slick-list, .slick-slider, .slick-track{
  padding: 1.5rem 0;
}

.center .slick-center .project{
  transform: scale(1.3);
  z-index: 10000;
  transition: all 400ms ease-in-out;
  pointer-events: all;
  opacity: 1;
}

.center .project{
  opacity: 0.7;
  pointer-events: none;
}

@media(max-width: 990px){
  .center .slick-center .project{
    transform: scale(1);
  }

  .center .project{
    opacity: 1;
    pointer-events: all;
  }
}


/* scroll bar style  */
::-webkit-scrollbar {
  width: 10px;
 
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes header {
  0%{
    transform: translateY(-30px);
    opacity: 0;
  } 
  100%{
    transform: translateY(0);
      opacity: 1;
  }
}